.about {
	background-color: var(--color-primary-dark-heavy);
	box-shadow: 0 0 2rem .8rem color-mix(in srgb, var(--color-primary), transparent 90%);

	padding: var(--padding-block);
}

.about__text {
	font-size: var(--font-size-text);
	text-align: center;
	line-height: 1.5;
}

.about__text:not(:last-child) {
	margin-bottom: var(--space-subsubsection);
}