.header {
	background-color: transparent;
	font-size: var(--font-size-text);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;

	transition: background-color 200ms;
}

.header.header--full {
	/* background-color: var(--color-primary-dark); */

	/* background-color: var(--color-primary-dark); */
	/* padding: var(--padding-block) 0; */

	background-color: var(--color-primary-dark);
	width: calc(100% + (var(--padding-block) * 2));
	margin-left: calc(var(--padding-block) * -1);
	padding: 0 var(--padding-block);
}

.header__logo {
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;

	padding: var(--padding-content);
}

.header__button {
	background-color: transparent;
	border: none;
	cursor: pointer;

	padding: .4em .8em .2em;
}

.header__button>svg {
	fill: var(--color-secondary);
}

.header__navigation {
	/* --border-radius: .4rem; */

	position: absolute;
	top: 125%;
	width: 100%;

	background-color: transparent;
	box-shadow: none;
	border-radius: var(--border-radius);

	transform-origin: top;
	transform: scaleY(0);
	opacity: 0;

	transition-property: opacity, transform, box-shadow;
	transition-duration: 100ms, 250ms, 750ms;
}

.header__navigation.header__navigation--open {
	background-color: var(--color-primary-dark);
	/* background-color: color-mix(in srgb, var(--color-primary-dark), black 25%); */

	box-shadow: 0 0 4rem color-mix(in srgb, var(--color-primary), transparent 80%);

	transform: scaleY(100%);
	opacity: 1;
}

.header__navigation.header__navigation--full {
	width: calc(100% - (var(--padding-block)*2));
}

.header__menu {
	list-style-type: none;
}

.header__item:first-child>a {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.header__item:last-child>a {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.header__item>a {
	color: var(--color-primary);
	text-decoration: none;

	display: block;
	padding: var(--padding-content);

	/* transition: background-color 250ms; */

	&:hover {
		background-color: red;
		background-color: color-mix(in srgb, var(--color-primary-dark), white 3.5%);
	}
}