.header {
	font-size: var(--font-size-text);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	position: relative;
}

.header__logo {
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
	padding: var(--padding-content);
}

.header__button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: .4em .8em .2em;
}

.header__button>svg {
	fill: var(--color-secondary);
}

.header__navigation {
	position: absolute;
	top: 100%;
	width: 100%;

	background-color: transparent;
	transform-origin: top;
	transform: scaleY(0);
	opacity: 0;

	transition-property: opacity transform;
	transition-duration: 250ms;
}

.header__navigation--open {
	background-color: black;
	transform: scaleY(100%);
	opacity: 1;
}

.header__menu {
	list-style-type: none;
}

.header__item>a {
	color: var(--color-primary);
	text-decoration: none;
	display: block;
	padding: var(--padding-content);

	/* transition: background-color 100ms; */

	&:hover {
		background-color: color-mix(in srgb, white, transparent 90%);
	}
}