::selection {
	background-color: var(--color-primary-dark-half);
	color: var(--color-secondary);
}

html {
	font-family: 'Fragment Mono', monospace;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-primary-dark-full);
	color: var(--color-secondary);
}

.column {
	display: flex;
	flex-direction: column;
	gap: var(--gap-default);
}

.icon {
	font-size: var(--font-size-icon);
	fill: var(--color-primary);

	vertical-align: middle;
}

.uppercase {
	text-transform: uppercase;
}

.subtitle {
	color: var(--color-primary);
	font-size: var(--font-size-subtitle);
	/* font-weight: normal; */
	text-align: center;

	margin-bottom: var(--space-subsection);
}

.content-section {
	padding-top: var(--space-section);
}