:root {
	--color-primary: #14AE5C;
	--color-secondary: white;

	--font-size-title: 5.2rem;
	--font-size-subtitle: 3.2rem;
	--font-size-subsubtitle: 2.4rem;
	--font-size-text: 2rem;

	--padding-block: 2.8rem;
	--padding-content: .8em;
}