:root {
	--color-primary: #14ae5c;
	--color-primary-dark: color-mix(in srgb, var(--color-primary), black 97.5%);
	--color-secondary: #ddd;

	--font-size-title: 5.2rem;
	--font-size-subtitle: 4rem;
	--font-size-subtitle-xxs: 2rem;
	--font-size-text: 1.6rem;
	--font-size-icon: 4.8rem;

	--padding-block: 2.8rem;
	--padding-content: .8em;

	--border-radius: .4rem;
	--ease-out-fast: cubic-bezier(0, 0, .26, 1);
}